<mat-card>
  <!-- <mat-card-title>Products</mat-card-title> -->
  <mat-card-content>
    <!-- Search and Filter Section -->
    <div class="header-container" >
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput (input)="applyFilter($event)" placeholder="Search by name or category">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="sortData($event)">
          <mat-option value="priceAsc">Price: Low to High</mat-option>
          <mat-option value="priceDesc">Price: High to Low</mat-option>
          <mat-option value="timeAsc">Time Remaining: Low to High</mat-option>
          <mat-option value="timeDesc">Time Remaining: High to Low</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openAddProductDialog()">Add Product</button>
    </div>

    <table mat-table [dataSource]="filteredDataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Starting Price Column -->
      <ng-container matColumnDef="startingPrice">
        <th mat-header-cell *matHeaderCellDef> Starting Price </th>
        <td mat-cell *matCellDef="let element"> ₹{{element.startingPrice}} </td>
      </ng-container>

      <!-- Auction Duration Column -->
      <ng-container matColumnDef="auctionDuration">
        <th mat-header-cell *matHeaderCellDef> Auction Duration </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="element.auctionStartTime && element.auctionEndTime">
            <ng-container *ngIf="calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) !== 'Closed'">
              {{ calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) }}
            </ng-container>
            <ng-container *ngIf="calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) === 'Closed'">
              Closed
            </ng-container>
            <ng-container *ngIf="calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) === 'Auction not started'">
              Auction not started
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Reserved Price Column -->
      <ng-container matColumnDef="reservedPrice">
        <th mat-header-cell *matHeaderCellDef> Reserved Price </th>
        <td mat-cell *matCellDef="let element"> ₹{{element.reservedPrice}} </td>
      </ng-container>

      <!-- Highest Bid Column -->
      <ng-container matColumnDef="highestBid">
        <th mat-header-cell *matHeaderCellDef> Highest Bid </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="element.currentHighestBid">
            ₹{{element.currentHighestBid}}
          </ng-container>
          <ng-container *ngIf="!element.currentHighestBid">
            Nil
          </ng-container>
        </td>
      </ng-container>

      <!-- Sold Column -->
      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef> Sold </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.sold ? 'Yes' : 'No' }} 
        </td>
      </ng-container>

      <!-- Place Bid Column -->
      <ng-container matColumnDef="placeBid">
        <th mat-header-cell *matHeaderCellDef> Place Bid </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) !== 'Closed'">
            <input matInput [(ngModel)]="element.bidAmount" placeholder="Enter your bid" type="number" />
            <button mat-button (click)="placeBid(element)">Place Bid</button>
          </ng-container>
          <ng-container *ngIf="calculateTimeRemaining(element.auctionStartTime, element.auctionEndTime) === 'Closed'">
            Closed
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'startingPrice', 'auctionDuration', 'category', 'reservedPrice', 'highestBid','sold','placeBid']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'description', 'startingPrice', 'auctionDuration', 'category', 'reservedPrice', 'highestBid','sold','placeBid'];"></tr>
    </table>
  </mat-card-content>
</mat-card>
